function Main.main 1
    call Wordle.new 0
    pop local 0
    push local 0
    call Wordle.run 1
    pop temp 0
    push local 0
    call Wordle.dispose 1
    pop temp 0
    push constant 0
    return